.goal {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  border: 1px solid var(--oda-inactive-color);
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
}

.goaltitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.goalactive {
  border: 1px solid var(--oda-control-color);
  background-color: var(--oda-selected-panel-color);
}

.goalpassive {
  background-color: var(--oda-inactive-color);
}

.goalpassive {
  background-color: var(--oda-inactive-color);
}

.briefdescription {
  font-size: 15px;
}

.titleactive {
  color: var(--oda-control-color);
}

.titlepassive {
  color: var(--oda-text-color);
}

.fulldescription {
  color: var(--oda-text-color);
  font-size: 12px;
}

.amounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collected {
  color: var(--oda-disabled-color);
}

.required {
  color: var(--oda-disabled-color);
}

.barcontainer {
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
}

.bar {
  width: 100%;
  height: 9px;
  background-color: var(--oda-panel-color);
  border-radius: 80px;
}

.filled {
  position: absolute;
  top: 9px;
  left: 0;
  height: 9px;
  border-radius: 80px;
  background-color: var(--oda-control-color);
  z-index: 2;
}
