:root{
  --oda-panel-max-width: 550px;
}
.hidden {
  display: none !important;
}

.material-symbols-outlined.currency {
  font-size: 19px;
  vertical-align: text-bottom;
}

.invalid-feedback {
  display: inline !important;
}

.input-group.col-9 {
  width: 75%;
  padding-left: 0px;
  margin-right: 7px;
}

.currency-selector {
  max-width: 107px !important;
}

#chat-icon {
  top: 9px;
}

#pay-button {
  background-color: rgb(33, 37, 41);
  width: unset;
  font-size: 20px;
  flex-grow: 1;
}

.clickable-button:hover,
.clickable-button:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px -6.4px;
  transform: translateY(-1px);
}

.container {
  max-width: 620px !important;
  padding-left: calc(1.5 * var(--bs-gutter-x)) !important;
  padding-right: 1em !important;
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}

.page-header {
  font-weight: bolder;
  font-size: larger;
}

.page-content-container .card-header {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--oda-panel-max-width);
  min-width: 330px;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  grid-column: 2;
  justify-self: end;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 10px 0px;
}

.recipient-title-container {
  display: inline-block;
}

img.logo {
  z-index: 0;
  position: relative;
  width: 110px;
  height: 110px;
  display: inline-block;
  margin-top: -26px;
  box-shadow: 0 0 5px 1px black;
}

#recipient-title {
  color: #747373;
  padding-left: 130px;
  text-wrap: balance;
}

#donation-title {
  font-size: 41px;
  display: inline-block;
  margin-top: -3px;
  margin-right: 10px;
}

#min-sum-title {
  color: #747373;
  margin-left: 130px;
  margin-top: -32px;
}

#amount-container {
  margin-top: -5px;
  display: flex;
  margin-left: 20px;
}

#amount-container > div {
  position: relative;
  padding-left: 20px;
}

.amount-mask {
  position: absolute;
  top: 1px;
  left: 23px;
  font-size: 37px;
  font-weight: 600;
  width: 100%;
}

.amount-mask > i {
  color: transparent;
  max-width: 190px;
  display: inline-block;
  overflow: hidden;
}

.amount-mask > span {
  color: #718cd0;
  vertical-align: top;
}

.amount-border {
  position: absolute;
  top: -10px;
  left: 0px;
  font-size: 37px;
  padding-right: 65px;
  font-weight: 900;
  border-bottom: 3px solid #718cd0;
}

.amount-border > i {
  max-width: 190px;
  display: inline-block;
  overflow: hidden;
}

.amount-border > span {
  font-size: 36px;
}

.amount-border > i,
.amount-border > span {
  color: transparent;
  vertical-align: top;
}

.preview-image {
  width: 115px !important;
  height: 70px !important;
}

.preview-image:hover {
  box-shadow: 3px 3px 10px #6495ed;
}

.button-overlay {
  position: absolute;
  display: none;
  z-index: 1;
}

.remove-media-button {
  background-color: rgb(33, 37, 41);
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0px !important;
  margin: 0px 1px !important;
  font-size: 18px;
  width: 25px;
  height: 25px;
}

.preview-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.preview-container-with-delete-button {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.top-bordered {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.preview-container:hover .button-overlay {
  display: initial;
}

.button-overlay:hover {
  display: initial;
}

.material-symbols-sharp.left-icon {
  width: initial;
  position: absolute;
  vertical-align: center;
  top: 6px;
  z-index: 1;
}

.footer-links {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: #949393;
  line-height: 10px;
}

.footer-copyright {
  color: #747373;
  flex-basis: 200px;
  text-align: right;
}

.media-header {
  padding-left: 5px;
  border-bottom: thin solid gray;
}

#payment-form {
  padding-top: 30px;
}

#currency-sign {
  font-size: 41px;
}

::placeholder {
  color: #b6b6b6 !important;
}

.media {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  padding-right: 50px;
}

.media-preview {
  justify-self: flex-start;
  border: 2px solid #dddddd;
  width: 100%;
  background-color: white;
}

.media-preview iframe {
  width: 100%;
  height: 100%;
}

#amount-input {
  color: #718cd0;
  font-size: 37px;
  font-weight: bolder;
  border: none;
  background: none;
  position: relative;
  z-index: 2;
  margin-left: 0px !important;
}

#amount-input:focus {
  outline: none;
  border-color: #718cd0;
}

#currency-sign {
  font-size: 34px;
  border-radius: 0px;
  padding-bottom: 1px;
  border-color: #a8a8a8;
}

#page-card {
  max-width: var(--oda-panel-max-width)!important;
  min-width: 330px;
  border-color: rgb(33, 37, 41);
  background-color: rgb(33, 37, 41);
  order: 5;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card .container {
  background-color: #f1f1f1;
}

#amount-input.is-invalid {
  color: red;
}

#confirmation-text {
  color: #939393;
  font-size: 13px;
  flex-basis: 250px;
  flex-grow: 1;
  padding-top: 4px;
}

#confirmation-text div {
  word-wrap: break-word;
}

#min-sum-button {
  color: #718cd0;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
  padding-left: 4px !important;
  margin-top: -5px;
  z-index: 10;
  position: relative;
}

#media-url-input {
  width: 100%;
  padding-right: 50px;
  padding-left: 40px;
}

#media-url-button {
  width: 18%;
  margin-left: auto;
  background-color: #718cd0;
}

.name-buttons {
  margin-top: -8px;
  margin-left: -17px;
}

.name-buttons .btn {
  color: #718cd0;
  font-size: 13px;
  text-decoration-style: dashed;
  text-underline-offset: 3px;
}

#description-input {
  resize: none;
  min-height: 150px;
  padding-left: 40px;
  padding-bottom: 40px;
  overflow-y: hidden;
}

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
}

.media-container {
  position: relative;
}

.media-container .media-suggestions-popup {
  position: absolute;
  background-color: white;
  top: 40px;
  padding-left: 0px;
  z-index: 2;
}

.media-suggestions-item {
  width: 100%;
  text-align: left;
  border: 2px solid rgb(239, 239, 239);
  margin-bottom: 5px;
  margin-top: 2px;
}

.media-suggestions-item:hover {
  border: 2px solid #212529 !important;
  border-radius: 2px;
}

.media-suggestions-item:nth-child(even) {
  background-color: white;
  border-color: white;
}

.media-suggestions-description {
  display: inline-block;
  width: 80%;
}

.media-suggestions-channel {
  font-size: 0.8em;
  color: gray;
  padding-left: 10px;
}

.media-suggestions-item img {
  display: inline-block;
  width: 15%;
  vertical-align: bottom;
}

.media-suggestions-title {
  display: inline-block;
  white-space: nowrap;
  width: 80%;
  overflow-x: hidden;
  margin-left: 10px;
}

#media-tooltip {
  max-width: 100%;
}

.page-content-container {
  display: grid;
  grid-template-columns: calc((96% - var(--oda-panel-max-width))/2) var(--oda-panel-max-width) calc((96% - var(--oda-panel-max-width))/2);
  column-gap: 2%;
}

#data-panel.container {
  background-color: #f1f1f1;
  max-width: var(--oda-panel-max-width) !important;
  min-width: 330px;
  padding-top: 12px !important;
  padding-bottom: 18px !important;
  grid-column: 2;
  justify-self: end;
  margin-right: 0px !important;
  margin-left: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 10px 0px;
  z-index: 10;
}

#nickname-input {
  padding-left: 40px;
}

#email-input {
  padding-left: 40px;
}

.media-info-icon {
  position: absolute;
  right: 20px;
  top: 9px;
  font-size: 20px;
  user-select: none;
  color: #a2a8d3;
}

.media-gif-text {
  display: block;
  text-align: center;
  width: 250px;
}
.media-gif-container {
  display: block;
}

.counter-text {
  text-align: right;
  color: rgb(112, 116, 120);
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.media-gif-tooltip {
  background-color: rgb(33, 37, 41) !important;
  border-radius: 12px !important;
  border: 1px solid black;
  opacity: 1 !important;
  z-index: 1;
}
.nickname-gif-tooltip {
  background-color: rgb(33, 37, 41) !important;
  opacity: 1 !important;
  border-radius: 12px !important;
  border: 1px solid black;
}
.media-gif {
  border: 2px solid #fff;
}

#nickname-gif-tooltip {
  z-index: 3;
}

.info-urls {
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 18px;
}

.arbitrary-text-container {
  max-width: 400px;
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-right: 20px;
}

.media-item {
  border: 2px solid #dddddd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.2em;
  background-color: #dddddd;
  flex: 0 1 auto;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.media-item.bordered:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 10px 0px;
}

.bordered {
  border-radius: 8px;
}

.media-item .material-symbols-sharp {
  vertical-align: middle;
}

.media-title {
  overflow: hidden;
  text-wrap: nowrap;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  flex: 0 1 auto;
}

.media-item-delete {
  flex: 0 0 auto;
  margin-top: 23px;
  margin-left: 10px;
  color: rgba(226, 126, 126, 1);
}
.media-item-delete:hover {
  cursor: pointer;
}

.media-item-icon {
  font-size: 26px;
}

.media-item-collapse {
  font-size: 30px;
}

.media-item:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.donation-target {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column: 1;
  width: 100%;
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.feedback-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 500;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 10px 0px;
}

.feedback-container .btn {
  background-color: white;
}

.feedback-message-container .btn-text,
.feedback-container .btn-text {
  margin-left: 10px;
}

.feedback-container .btn:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px -6.4px;
  transform: translateY(-1px);
}

.feedback-message-container {
  position: fixed;
  right: 20px;
  bottom: 80px;
  width: 350px;
  background-color: #f1f1f1;
  padding-bottom: 20px;
  border-radius: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 10px 0px;
}

.feedback-message-container .feedback-message {
  width: 100%;
  min-height: 120px;
  margin-bottom: 10px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 6px;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.feedback-message:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.feedback-button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.feedback-button-group .btn {
  width: 100%;
  font-size: 20px;
}

.feedback-button-group .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px -6.4px;
  transform: translateY(-1px);
  background-color: rgb(33, 37, 41);
}

.feedback-message-container .material-symbols-sharp,
.feedback-container .material-symbols-sharp {
  vertical-align: middle;
}

@media (min-width: 1000px) {
  .donation-target {
    max-width: 400px;
    padding-left: 20px;
  }
}

@media (min-width: 540px) {
  .page-content-container .card-header {
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  }
  .page-content-container {
    column-gap: 2%;
  }
}

@media (max-width: 1000px) {
  .arbitrary-text-container {
    max-width: var(--oda-panel-max-width) !important;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    grid-column: 2;
    grid-row: 2;
  }
  #page-card {
    box-shadow: none;
  }
  .donation-target {
    grid-column: 2;
    grid-row: 3;
    margin-right: 0;
    justify-self: stretch;
  }

}

@media (max-width: 540px) {
  html,
  body {
    background-image: none !important;
    background-color: rgb(33, 37, 41) !important;
  }

  #recipient-title {
    padding-left: 0px;
    width: 100%;
    margin-bottom: 5px;
  }

  img.logo {
    margin-top: 0px;
  }
  #donation-title {
    margin-top: 0px;
    display: inline-block;
  }

  #min-sum-title {
    color: #747373;
    margin-left: 0px;
    margin-top: 0px;
  }
  #amount-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #amount-container > div {
    padding-left: 10px;
  }
  .amount-border {
    top: 0px !important;
  }
  #data-panel {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  .align-items-center.page-content-container {
    align-items: initial !important;
  }
  #page-card {
    width: 100% !important;
    border-right: none !important;
    border-left: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .arbitrary-text-container {
    grid-column: 2;
    grid-row: 2;
  }
  .page-content-container {
    grid-template-columns: auto;
    column-gap: 0;
  }
  .page-content-container .card-header {
    padding-top: 0.5em;
    border-radius: 0 !important;
  }
  .card-footer {
    margin-bottom: 25px;
  }
  .feedback-container .btn-text {
    display: none;
  }
  .feedback-container {
    display: none;
  }
}
