/* custom */

#amount-input {
  font-family: "Pacifico";
  font-size: 30px!important;
  line-height: unset;
  background-color: unset !important;
  color: white !important;
  text-shadow:
    1px 1px 2px blue,
    0 0 1em blue,
    0 0 0.2em #fac950;
}
#donation-title {
  font-family: "Pacifico";
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}
#currency-sign {
  font-family: "Pacifico";
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}
#recipient-title {
  color: white !important;
  font-family: "Pacifico";
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}
#min-sum-title {
  color: white !important;
  font-family: "Pacifico";
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}
#min-sum-button {
  color: white !important;
  font-family: "Pacifico";
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}

.stream-link {
  color: white !important;
}

.page-content-container .card-header {
  /* background-color: #def6e8 !important; */
  background-image: url(https://i.imgur.com/UvOGZtO.jpg);
  background-size: auto;
}
.page-content-container .card-footer {
  /* background-color: #def6e8 !important; */
  background-image: url(https://i.imgur.com/UvOGZtO.jpg);
  background-size: auto;
}

.footer-warning {
  color: white !important;
  line-height: 16px;
}

.footer-link {
  margin-top: 10px;
  color: white !important;
}

#data-panel.container {
  background-color: #def6e8;
  /* box-shadow: none; */
}

#pay-button {
  border: none;
  background-image: url(https://i.imgur.com/f4MFfiN.jpg);
  background-size: cover;
  font-weight: 900;
  min-height: 70px;
  font-family: "Pacifico";
  font-style: italic;
  text-shadow:
    1px 1px 2px #fac950,
    0 0 1em blue,
    0 0 0.2em #fac950;
}

body {
  background-image: unset !important;
  background-color: unset!important;
  /* background-size: contain !important; */
}

.material-symbols-sharp.left-icon {
  color: #fac950 !important;
}
.material-symbols-sharp.media-info-icon {
  color: blue !important;
}
.arbitrary-text-container .material-symbols-sharp {
  color: green !important;
}

.arbitrary-text-container .text-panel {
  background-color: #def6e8;
}

.media-item {
  background-color: #d48382 !important;
}

body::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url(https://i.imgur.com/nhSNpFk.jpg);
  background-size:contain;
  background-position-x: -200px;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media (max-width: 540px) {
  .page-content-container .card-footer {
    padding-bottom: 0px;
    min-height: 120px;
  }
  .arbitrary-text-container .text-panel {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

