#paymentResultContainer {
  padding-right: 1.5em!important;
}

#heart {
  max-height: 300px;
  max-width: 300px;
}

.result-page {
	background-color: #F1F1F1;
}

.grateful-image {
	border-radius: 15px;
	width: 100%;
	margin-top: -20px;
	border: 4px solid orange;
}
