.actionscontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  gap: 9px;
  color: var(--oda-text-color);
  background-color: var(--oda-inactive-color);
  border-radius: 9px;
  padding: 12px;
  padding-left: 18px;
  &:hover {
    cursor: pointer;
  }
}

.addbuttonlabel {
  width: 100%;
  text-align: center;
  color: var(--oda-control-color);
}

.searchcontainer {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--oda-border-color);
  border-radius: 9px;
  gap: 12px;
  padding: 12px;
}

.search {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  width: 100%;
  color: var(--oda-text-color);
}

.delete {
  background-color: var(--oda-alert-color);
  border-radius: 6px;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.categorylist {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 95px;
  border-radius: 9px;
  background-color: var(--oda-inactive-color);
  padding: 12px;
  padding-left: 18px;
  &:hover {
    cursor: pointer;
  }
}

.categoryname {
  color: var(--oda-text-color);
  font-size: 18px;
  font-weight: 500;
}

.categoryactive {
  border: 1px solid var(--oda-control-color);
  background-color: var(--oda-selected-panel-color);
  & .categoryname {
    color: var(--oda-control-color);
  }
}

.actionlist {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.actionactive {
  border: 1px solid var(--oda-control-color);
  background-color: var(--oda-selected-panel-color);
  color: var(--oda-control-color);
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
}

.addbutton {
  background-color: var(--oda-control-color);
  border-radius: 110px;
  border: none;
  box-shadow: none;
  color: var(--oda-page-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 16px;
  font-family: "Mulish Variable";
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    background-color: var(--oda-inactive-color);
  }
}

.cancelbutton {
  background-color: var(--oda-inactive-color);
  color: var(--oda-text-color);
  border-radius: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  &:hover {
    cursor: pointer;
  }
}
