.header {
  width: calc(100% - 18px);
  margin: 9px;
  margin-bottom: 0px;
  background-color: var(--oda-panel-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 42px;
  color: var(--oda-disabled-color);
}

.streamer {
  font-size: 42px;
  color: var(--oda-text-color);
}

@media(max-width: 1200px) {
  .streamer {
    margin-left: 12px;
  }
  .titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.avatarcontainer {
  min-height: 160px;
  flex-grow: 0;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  min-width: 33%;
  gap: 12px;
}

@media (max-width: 1200px) {
  .avatarcontainer {
    align-items: center;
    min-height: unset;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
}

.arbitrary {
  margin-top: 8px;
  min-height: 80px;
  font-size: 15px;
  color: var(--oda-text-color);
}

@media (max-width: 1200px) {
  .arbitrary {
    min-height: unset;
  }
}

.limited {
  max-height: 80px;
  overflow-y: hidden;
}

.unlimited {
  max-height: unset;
  overflow-y: unset;
}

.openarbitrary {
  color: var(--oda-control-color);
  font-size: 15px;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.streamersocial {
  font-size: 15px;
  color: var(--oda-control-color);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  & a {
    margin-left: 8px;
    color: var(--oda-control-color);
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
}

.pcsocials {
  display: flex;
  flex-wrap: wrap-reverse;
}

.url {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
