/* TODO: копипаста */
.payment {
  width: calc(100%);
  min-height: 80px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 6px;
  padding: 16px;
  /*theme*/
  /*margin: 9px;*/
  /*background-color: var(--oda-panel-color);*/
}

.disabled {
  background-color: var(--oda-disabled-color)!important;
}

.paymentdescription {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--oda-text-color);
  margin-bottom: 36px;
}

@media (max-width: 1200px) {
  .paymentdescription {
    display: none;
  }
}

.line {
  display: inline-block;
  width: 250px;
  margin-left: 12px;
  margin-right: 18px;
  border-bottom: 1px solid var(--oda-text-color);
}

.amountdescription {
  padding-top: 10px;
}

.paybuttoncontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .paybuttoncontainer {
    flex-direction: column-reverse;
    gap: 21px;
    align-items: center;
  }
}

.paybuttons{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;
}

@media (max-width: 1200px) {
  .paybuttons {
    flex-direction: column;
    align-items: center;
  }
}

.paybutton {
  padding: 14px 24px 16px 24px;
  border-radius: 110px;
  border: none;
  background-color: var(--oda-control-color);
  color: var(--oda-page-color);
  font-size: 32px;
  margin-top: 6px;
  &:hover,&:focus{
    transform: translateY(-2px);
  }
}

@media (max-width: 1200px) {
  .paybutton {
    width: 100%;
    font-size: 28px;
  }
}
