.widgetcontainer {
  width: 400px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-right: 9px;
}
@media(max-width: 1200px) {
  .widgetcontainer {
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

.tabbar {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--oda-inactive-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tab {
  width: 10px;
  flex-grow: 1;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}
.tabpassive {
  color: var(--oda-disabled-color);
}

.tabactive {
  color: var(--oda-text-color);
  height: 100%;
  background-color: var(--oda-panel-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tabcontent {
  flex-grow: 1;
  background-color: var(--oda-panel-color);
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 400px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 16px 16px 8px 16px;
}

@media(max-width: 1200px) {
  .tabcontent {
    width: 100vw;
  }
}
