.text {
  color: black;
  border-radius: 8px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.texthidden {
  width: 0px;
  padding: 0px;
}

.collapsedpanel {
  display: none;
}

.expandedpanel {
  margin-left: 20px;
}

.hidebutton {
  position: absolute;
  top: 30px;
  right: 0px;
  border: 1px solid #dddddd;
  line-height: 0;
  border-radius: 20px;
  padding: 4px;
  margin: -16px;
  background-color: white;
  color: #747373;
}

.fullpagebutton {
  display: initial;
}

.mobilepagebutton {
  display: none;
}

@media (max-width: 1000px) {
  .text {
    margin-top: 0px !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: none;
  }

  .fullpagebutton {
    display: none;
  }
  .hidebutton.mobilepagebutton {
    display: initial;
    top: 0%;
    right: 40px;
    z-index: 9;
  }

  .texthidden {
    height: 30px;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .text {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}

.text pre {
  text-wrap: pretty;
}

.collapsed {
  overflow-y: hidden;
  max-height: 50px;
}

.collapseButton {
  border: none;
}

.overflowTextShadow {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  height: 20px;
  margin-top: -20px;
}

.tooltip {
  max-width: 150px;
}
