.text {
  color: black;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.texthidden {
  width: 0px;
  padding: 0px;
}

.collapsedpanel {
  display: none;
}

.expandedpanel {
	overflow-y: scroll;
  max-height: 600px;
  margin: 0 0 0 20px;
  background: rgba(241,241,241,0.5);
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 0 0 10px rgba(0,0,0,.56);
}

.expandedpanel::-webkit-scrollbar {
	width: 6px;
}

.expandedpanel::-webkit-scrollbar-track {
	background: #fff;
  border-radius: 100px;
}

.expandedpanel::-webkit-scrollbar-thumb {
	background-color: #212529;
  border-radius: 100px;
}

.hidebutton {
  position: absolute;
  top: 30px;
  right: 0px;
  border: 1px solid #dddddd;
  line-height: 0;
  border-radius: 20px;
  padding: 4px;
  margin: -16px;
  background-color: white;
  color: #747373;
}

.fullpagebutton {
  display: initial;
}

.mobilepagebutton {
  display: none;
}

@media (min-width: 1000px) {
  .text {
    border-radius: 8px;
    min-height: 60px;
  }
}

@media (max-width: 1000px) {
  .text {
    margin-top: 0px !important;
    box-shadow: none;
    border-radius: 0px;
  }

  .fullpagebutton {
    display: none;
  }
  .hidebutton.mobilepagebutton {
    display: initial;
    top: 0%;
    right: 40px;
    z-index: 9;
  }

  .texthidden {
    width: 100%;
  }
}

.text pre {
  text-wrap: pretty;
}

.collapsed {
  overflow-y: hidden;
  max-height: 50px;
}

.collapseButton {
  border: none;
}

.overflowTextShadow {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  height: 20px;
  margin-top: -20px;
}

.tooltip {
  max-width: 150px;
}
