.panel {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;
  padding-right: 12px;
  padding-left: 22px;
  padding-top: 20px;
  background-color: rgba(241,241,241,0.4);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

@media(min-width: 1000px) {
  .panel {
    border-radius: 8px;
  }
}

@media (max-width: 540px) {
  .panel {
    margin-top: 0px;
    border-radius: 0px;
    border-top: 1px solid black;
  }
}
