#root {
  font-family: "Exo 2 Variable";
}

.material-symbols-sharp {
  font-family: "Material Symbols Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

html,
body {
  background-size: cover;
  height: auto;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: "Exo 2 Variable", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.page-content-container .card-footer {
	/* todo make padding through inheritance */
	/* padding-left: calc(1.5 * var(--bs-gutter-x)) !important; */
	padding-left: 26px;
	padding-right: 26px;
  font-size: smaller;
  font-style: italic;
	background-color: rgb(33,37,41)!important;
	border-bottom-right-radius: 8px!important;
	border-bottom-left-radius: 8px!important;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 550px;
  min-width: 330px;
  grid-column: 2;
  justify-self: end;
  max-height: 85px;
}

.card {
  max-width: 620px !important;
  margin-left: auto;
  margin-right: auto;
}

.card .container {
	margin-top: 0px!important;
}

.container {
	background-color: white;
}

.no-wrap {
  white-space: nowrap;
}

.footer-warning {
	color: #747373;
	padding-right: 18px;
}

.stream-link {
	color: #747373;
  font-family: "Black Ops One", system-ui;
}

.footer-warning .stream-link {
  margin-right: 5px;
}
